<%#
  File Name   : layout/application.html.erb
  Version     : v1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.29
  Purpose     : 全体のレイアウトを構成
%>

<!DOCTYPE html>
<html>
  <div id="background-mask">
    <head>
      <title><%= document_title %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <div id="wrapper">
        <%= render "shared/header" %>
        <div id="container">
          <div id="flash">
            <% if flash.notice %>
              <span class="notice"><%= flash.notice %></span>
            <% end %>
            <% if flash.alert %>
              <span class="alert"><%= flash.alert %></span>
            <% end %>
            <div>
            <%= yield %>
        </div>
      </div>
    </body>
  </div>
</html>
