<%#
    File Name     : new.html.erb
    Version       : v1.0
    Designer      : 籔本悠紀
    Date          : 2021.07.04
    Purpose       : clothes/newアクションのERBテンプレート
%>

<% @title = "コーディネート" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with url: :coordinates do |f| %>
    <%= render "register_info", f: f %>
    <div class="buttons">
      <%= f.submit "コーディネート提案" %>
      <%= link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>