<%#
    File Name     : show.html.erb
    Version       : v1.0
    Designer      : 籔本悠紀
    Date          : 2021.07.03
    Purpose       : coordinate/showアクション
%>

<% @title = "コーディネート" %>
<h1><%= @title %></h1>

<% if @e1 || @e2 %>
  <div class="error">
    <%=
      if @e1
        @e1
      elsif @e2
        @e2
      end
    %>
  </div>
<% else %>
  <% if tops =  Clothe.find_by(id: @coordinate.tops.id) %>
    <div>
      <p>トップス</p>
      <%= image_tag tops.image.thumb.to_s %>
    </div>
  <% end %>

  <% if outer = Clothe.find_by(id: @coordinate.outer.id) %>
    <div>
      <p>アウター</p>
      <%= image_tag outer.image.thumb.to_s %>
    </div>
  <% end %>

  <% if bottoms = Clothe.find_by(id: @coordinate.bottoms.id) %>
    <div>
      <p>ボトムス</p>
      <%= image_tag bottoms.image.thumb.to_s %>
    </div>
  <% end %>

  <% if shoes =  Clothe.find_by(id: @coordinate.shoes.id)%>
    <div>
      <p>シューズ</p>
      <%= image_tag shoes.image.thumb.to_s %>
    </div>
  <% end %>

  <% if accesary = Clothe.find_by(id: @coordinate.accesary.id) %>
      <div>
        <p>アクセサリー</p>
        <%= image_tag accesary.image.thumb.to_s %>
      </div>
  <% end %>
<% end %>