<h2 class="display-4">コーディネート</h1>
<p><%= @tops %> <%= @tops_color %></p>
<p><%= @outer %> <%= @outer_color %></p>
<p><%= @bottoms %> <%= @bottoms_color %></p>
<p><%= @accesary %> <%= @accesary_color %></p>
<p><%= @shoes %> <%= @shoes_color %></p>

<p><%= @e1 %></p>
<p><%= @e2 %></p>
<p><%= @t %></p>