<%#
  File Name   : users/_edit_account.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀,田中航生
  Date        : 2021.0704
  Purpose     : ユーザー情報編集フォーム
%>

<div class="notes">
  <span class="mark">*</span>印の付いた項目は入力必須です
</div>
<div>
  <p>性別</p>
  <div class="radio_buttons">
    <div class="gender">
      <%= f.radio_button :gender, 0 %>
      <%= f.label :gender, "男性", value: 0 %>
    </div>
    <div class="gender">
      <%= f.radio_button :gender, 1 %>
      <%= f.label :gender, "女性", value: 1 %>
    </div>
  </div>
</div>
<div id="favorite">
  <%= f.label "好みの色" %>
  <%= f.select :favorite_color,
      [["白", 0], ["黒", 1], ["赤", 2], ["青", 3], ["黄", 4], ["緑", 5], ["柄もの", 6], ["ベージュ", 7]]
  %>
</div>
<div>
  <%= f.label "好みのタイプ" %>
  <%= f.select :favorite_type,
      [["カジュアル系", 0], ["ロック系", 1], ["ストリート系", 2], ["ガーリッシュ系", 3]]
  %>
</div>