<%#
  File Name   : users/edit.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.06
  Purpose     : ユーザー情報編集画面
%>

<% @title = "ユーザー情報入力" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @user, url: :users do |f| %>
    <%= render "edit_account", f: f %>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>