<%= begin %>
  File Name   : users/new.html.erb
  Version     : 1.0
  Designer    : 籔本悠紀
  Date        : 2021.06.06
  Purpose     : ユーザーの新規登録画面
<%= end %>

<% @title = "新規登録" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @user, url: :users do |f| %>
    <%= render "create_account", f: f %>
    <div>
      <%= f.submit "登録" %>
      <% link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>