<%= begin %>
  File Name     : sessions/new.html.erb
  Version       : 1.0
  Designer      : 籔本悠紀
  Date          : 2021.06.06.05
  Purpose       : ログインフォーム画面
<%= end %>

<% @title = "ログイン" %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_with model: @form, url: :session do |f| %>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>