<%#
  File Name     : clothes/_add_clothe.html.erb
  Version       : 1.0
  Designer      : 籔本悠紀
  Date          : 2021.06.06
  Purpose       : 新しい服を登録するフォーム
%>

<div class="notes">
  <span>*</span>印の付いた項目は入力必須です
</div>
<div>
  <%= f.label "服の種類" %>
  <%= f.select :kind,
      [["トップス(半袖)", 0], ["トップス(長袖)", 1], ["アウター(薄手)", 2],
       ["アウター(厚手)", 3], ["シューズ", 4], ["ボトム", 5], ["アクセサリー", 6]]
  %>
</div>
<div>
  <%= f.label "色" %>
  <%= f.select :color,
      [["白", 0], ["黒", 1], ["赤", 2], ["青", 3], ["黄", 4], ["緑", 5], ["柄物", 6], ["ベージュ", 7]]
  %>
</div>
<div>
  <%= f.label "タイプ" %>
  <%= f.select :type,
      [["カジュアル系", 0], ["ロック系", 1], ["ストリート系", 2], ["ガーリッシュ系", 3]]
  %>
</div>

<div>
   <%= render 'clothes/error_messages', model: f.object %>
</div>

<div>
  <%= f.label "服の画像を追加" %>
  <%= f.file_field :image %>

</div>
