<%#
    File Name    : _edit_clothe.html.erb
    Version      : v1.0
    Designer     : 籔本悠紀
    Date         : 2021.06.29
    Purpose      : 服情報追加画面のERBテンプレート
%>

<div>
    <%= f.label "服の種類" %>
     <%= f.select :kind,
        [["トップス(半袖)", 0], ["トップス(長袖)", 1], ["アウター(薄手)", 2],
        ["アウター(厚手)", 3], ["シューズ", 4], ["ボトム", 5], ["アクセサリー", 6]]
    %>
</div>
<div>
    <%= f.label "色" %>
    <%= f.select :color,
        [["白", 0], ["黒", 1], ["赤", 2], ["青", 3], ["黄", 4], ["緑", 5], ["柄物", 6], ["ベージュ", 7]]
    %>
</div>
<div>
    <%= f.label "タイプ" %>
    <%= f.select :type,
        [["カジュアル系", 0], ["ロック系", 1], ["ストリート系", 2], ["ガーリッシュ系", 3]]
    %>
</div>
<div>
    <%= f.label "服の画像を追加" %>
    <%= f.file_field :image %>
</div>

<div>
  <%= f.label "タグ(10文字以内)" %>
  <%= f.text_field :tag %>
</div>