<% @title = "服情報編集" %>
<h1><%= @title %></h1>
    
<div id="generic-form">
  <%= form_with model: @clothe, url: :clothes do |f| %>
    <%= render "edit_clothe", f: f %>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :index %>
    </div>
  <% end %>
</div>