<%#
  File Name     : clothes/index.html.erb
  Version       : v1.5
  Designer      : 籔本悠紀
  Date          : 2021.07.06
  Purpose       : 登録した服情報の一覧を表示する画面
%>

<% @title = "登録済の服の一覧"  %>
<h1><%= @title %></h1>

<div class="search">
  <p>絞り込み検索</p>
  <%= form_with method: :get do |f| %>
    <%= f.label "種類" %>
    <%= f.select :kind,
                 [["指定なし", nil ], ["トップス(半袖)", 0], ["トップス(長袖)", 1], ["アウター(薄手)", 2],
                  ["アウター(厚手)", 3], ["シューズ", 4], ["ボトム", 5], ["アクセサリー", 6]]
    %>
    <%= f.label "色" %>
    <%= f.select :color,
                 [["指定なし", nil], ["白", 0], ["黒", 1], ["赤", 2], ["青", 3], ["黄", 4], ["緑", 5], ["柄物", 6], ["ベージュ", 7]]
    %>
    <%= f.label "タイプ" %>
    <%= f.select :type,
                 [["指定なし", nil], ["カジュアル系", 0], ["ロック系", 1], ["ストリート系", 2], ["ガーリッシュ系", 3]]
    %>
    <%= f.label "タグ" %>
    <%= f.select :tag_id, @tag_list %>
    <%= button_to "検索", { controller: 'clothes', action: 'index' }, { method: :get } %>
  <% end %>
</div>

<div class="table-wrapper">
  <%= paginate @clothes %>
  <table class="listing">
    <tr>
      <th class="kind">種類</th>
      <th class="color">色</th>
      <th class="type">ジャンル</th>
      <th class="image">画像</th>
      <th class="tag">タグ</th>
    </tr>
    <% if @clothes.empty? %>
      <td colspan="5">服の情報がありません</td>
    <% else %>
      <% @clothes.each do |c| %>
        <tr>
          <td>
            <%
              case c.kind
              when 0 then kind = "トップス(半袖)"
              when 1 then kind = "トップス(長袖)"
              when 2 then kind = "アウター(薄手)"
              when 3 then kind = "アウター(厚手)"
              when 4 then kind = "シューズ"
              when 5 then kind = "ボトム"
              when 6 then kind = "アクセサリー"
              end
            %>
            <%= kind %>
          </td>
          <td>
            <%
              case c.color
              when 0 then color = "白"
              when 1 then color = "黒"
              when 2 then color = "赤"
              when 3 then color = "青"
              when 4 then color = "黄"
              when 5 then color = "緑"
              when 6 then color = "柄物"
              when 7 then color = "ベージュ"
              end
            %>
            <%= color %>
          </td>
          <td>
            <%
              case c.type
              when 0 then type = "カジュアル系"
              when 1 then type = "ロック系"
              when 2 then type = "ストリート系"
              when 3 then type = "ガーリッシュ系"
              end
            %>
            <%= type %>
          </td>
          <td><%= image_tag c.image.thumb.to_s %></td>
          <td>
            <%
              if tag_map = TagMap.find_by(clothe_id: c.id)
                tag_content = Tag.find_by(id: tag_map.tag_id).name
              else
                tag_content = ""
              end
            %>
            <%= tag_content %>
          </td>
          <td class="actions">
            <%= link_to "編集", [ :edit, c ] %> |
            <%= link_to "削除", [ c ], method: :delete,
                data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate @clothes %>
</div>